body {
  /* background-color: #5E6167; */
  background: rgb(94,97,103);
  background: linear-gradient(180deg, rgba(94,97,103,1) 0%, rgba(125,130,135,1) 100%);
}

.sign-in-form {
    align-items: left;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    margin: 0 1rem;
}

.sign-in-form > img {
    margin: -3rem -2rem -2rem;
    width: 120%;
}

@media screen and (min-width: 800px) {
  .sign-in-form > img {
    margin: 4rem auto;
    width: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .sign-in-form > img {
    margin: 4rem auto;
    width: 20%;
  }
}

.sign-in-form > label {
    margin: 0 auto;
    width: 100%
}

.sign-in-form > label > input {
    display: inline;
    border-width: thin;
    background-color: none;
    border-radius: 0.40rem;
    margin: 0 0 1.2rem 0;
    padding: 1rem;
    text-align: left;
    width: calc(100% - 2rem);
}

.sign-in-form > h1 {
    margin:2rem 0 .5rem 0;
}

.sign-in-form > h2 {
    margin: 0;
}

.sign-in-form > h3 {
    margin-bottom: .2rem;
}

input.button {
margin:0 auto;
}
