.sign-in-form {
    align-items: left;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    margin: 0 1rem;
}

.sign-in-form > img {
    margin: 0 auto;
    width: 100%;
}

.sign-in-form > label {
    margin: 0 auto;
    width: 100%
}

.sign-in-form > label > input {
    display: inline;
    border-width: thin;
    border:none;
    background-color: #d3d3d3;
    border-radius: 0.75rem;
    margin: 2rem 0 1rem 0;
    padding: 1rem 0;
    text-align: center;
    width:100%;
}
.button {
margin:0;
}
