.sign-in-form {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 100vh;
}

.sign-in-form > img {
    margin-bottom: 2rem;
}

.sign-in-form > label > input {
    border-radius: 0.75rem;
    height: 3rem;
    margin: 0 0.5rem;
    text-align: center;
    width: 100vw;
}

.button {
    height: 2rem;
    width: 10rem;
}
